@charset "utf-8";
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0; padding:0}
table{ border-collapse:collapse; border-spacing:0}
fieldset,img{ border:0; display:block;}
address,caption,cite,code,dfn,em,strong,th,var{ font-style:normal; font-weight:normal}
ol,ul{ list-style:none}
caption,th{ text-align:left}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal}
q:before,q:after{ content:''}
abbr,acronym{ border:0}
a{text-decoration: none;}
body{font-size:12px;}

::-moz-placeholder{color:#B5BED2;}             
    ::-webkit-input-placeholder{color:#B5BED2;}    
    :-ms-input-placeholder{color:#B5BED2;}         


.lis{width:280px;margin: 0; font-size:0px;}
.lis li{
	width: 278px;
	height: 30px;
	margin-bottom: 5px;
	
}
.lis .formlis{
	border: solid 1px #ddd;
	background: url(../images/split.png) 50px center no-repeat #fff;
}

.lis li .inp{
	float: left;
	height: 100%;
}

.lis .inp_txt{
	width:210px;
	padding-left: 5px;
}

.lis input{
	border: 0;
	width: 100%;
	height: 29px;
	line-height: 29px;
	color:#516288;
	padding:0;
	margin:0;
}

.lis .inp_yan{
	width:135px;
	padding-left: 5px;
	background: #fff;
	margin-right: 10px;
	border: solid 1px #ddd;
}
.lis .inp_icon{
	width:50px;
}
.icon_phone{background: url(../images/icon_phone.png) center center no-repeat; }
.icon_lock{background: url(../images/icon_lock.png) center center no-repeat; }

a{color:#2b2b2b;}

.lis li .txt{
	width:135px;
	padding-left: 5px;
	color: #fff;
	height: 100%;
	line-height: 32px;
	font-size:12px;
}

.lis li .sub{
	width:100px;
	float: right;
}
.lis li .sub a{
	display: block;
	width: 67px;
	height: 100%;
	border: 0;
	float: right;
	background: url(../images/btn_login.png) center center no-repeat; 
}
.lis li .sub a:hover{
	background: url(../images/btn_logins.png) center center no-repeat;
}
#imgcode{width:80px;height:32px;}


#tips{width:258px;position: absolute; height:113px; padding:30px 0 0 20px;line-height:24px; text-align: left;  clear: both; color: #2b2b2b; display:none; background:#fafafa; border:#ddd solid 1px; left:0px; top:0px; z-index:5 }
#tips .close{ position: absolute; top:8px;right:3px;width:24px; height:24px; padding-bottom:2px; display: block; cursor: pointer; color:#333; text-align:center;font-weight: bold;font-size: 16px;font-family: 微软雅黑;}